#####################################################################
# This is the configuration file for callpoppy. It should be copied
# to <homedir>/.callpoppy/config
#
# Lines beginning # or ; are comments and are ignored
#
# All SECTIONS are required; Most values are optional and sensible
# defaults will be used if not specified. The exception are values in
# the [Asterisk] section, and [Extensions] must contain at least one
# key: value pair
#####################################################################

#####################################################################
## This section configures the connection to the Asterisk server.
## All values except port are required. port defaults to 5038 if
## not specified.

[Asterisk]

# Server IP address or fully qualified domain name
server: 192.168.1.1

# Port to connect to. Defaults to 5038
port: 5038

# Username for the Asterisk Manager Interface (AMI)
username: callpoppy

# Secret (password) for AMI
secret: topsecret

#####################################################################
## This section configures the extensions to monitor incoming calls
## for. It must consist of one or more key: value pairs where the 
## key is the channel to monitor and the value is is human readable 
## name that will be used to identify which channel the call is for
## in the popup. 
## eg
## SIP/office: Office
## will cause a popup for calls to SIP/office to be titled
## "Incoming call for Office"

[Extensions]

;SIP/home: Home
;SIP/office: Office
;IAX2/phil: Phil's phone

#####################################################################
## This section configures the appearance of the popup. All values are 
## optional, but the section must exist

[Popup]

# The period, in seconds, after which the pop will close if not closed
# earlier by the user. Default 6. eg
;timeout: 10

# On Gnome based Linux distros, such as Ubuntu, you can optionally use
# libnotify to provide the popups. This has tighter integration with
# operating system, but is less flexible. If you set uselibnotify to
# yes, the rest of the options in the Popup section (except for 
# timeout) have no effect. eg
;uselibnotify: yes

# If set to 1 the popup is aligned to the top of the screen. If set 
# to 0, it is aligned to the bottom. eg
;top: 1

# If set to 1 the popup is aligned to the left of the screen. If set 
# to 0, it is aligned to the right. eg
;left: 1

# The offset from the left or right edge, in pixels. Default is 0
# eg
;x-offset: 50

# The offset from the top or bottom edge, in pixels. Default is 0
# eg
;y-offset: 50

# The popup background colour. Given as an HTML style hex code. Default
# is #171717. eg
;background: #bb0000

# The popup foreground colour. Given as an HTML style hex code. Default
# is #bbbbbb. eg
;foreground: #00bb00

#####################################################################
## This section configures logging. You can select which file to log
## to log to, and the level of detail. All values are optional, but
## the section must exist.

[Logging]

# loglevel is a value between 1 and 5, mapped as follows:
# 1  CRITICAL
# 2  ERROR
# 3  WARNING
# 4  INFO
# 5  DEBUG
# Default is 4. eg
;loglevel=5

# logfile is the file to log to. Default is 
# <homedir>/.callpoppy/callpoppy.log
# eg
;logfile=/var/log/callpoppy.log

#####################################################################
# This section configures the SQLite database used for looking up
# numbers. All values are optional, but the section must exist

[Database]

# The path to the SQLite database. Default is 
# <homedir>/.callpoppy/config
# eg
;dbfile=/var/db/callpoppy.db

# The number of digits contained in the lookup table. See README. 
# Default is 10, which works well for the UK. 
# eg
;digits=10
